<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
         <link rel="shortcut icon" href="/static/css/favico.png" />
    </head>
    <body>
        
    <header>
    <nav class="navbar navbar-fixed-top" id="navbar">
      <div class="container-fluid">
            <div class="navbar-header">

              <img src="/static/css/testlogo1.JPG">
            </div>
            <ul class="nav navbar-nav">
              <li><a href="/" class="links">Home</a></li>
              <li><a href="/contact" class="links">Contact</a></li>
              <li><a href="/experience" class="links">Experience</a></li>
              <li><a href="/myjourney" class="links">My Journey</a></li>
              <li><a href="/photography" class="links">Photography</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if 'user_id' in session %} 
                  <button type="button" class="btn nav-button" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-log-out"></span> Logout</button>
                {% else %} 
                  <button type="button" class="btn nav-button" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-log-in"></span> Login</button>
                  <button type="button" class="btn nav-button" data-toggle="modal" data-target="#mySecModal"><span class="glyphicon glyphicon-user"></span> Sign Up</button>
                {% endif %} 
            </ul>
        </div>
    </nav>
  </header>

  <div class="modal fade" id="mySecModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            {% if 'user_id' in session %} 
            <h2 class="modal-title" id="myModalLabel">Update Account Password</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
             <form action="/updateinfo" method="post">
                      <h4>Change Password</h4>
                      <input class="form-control mr-sm-2" type="text" name="email" id="formstyle" placeholder="Account Email" required><br>
                      <input class="form-control mr-sm-2" type="password" name="password" id="formstyle" placeholder="New Password" required><br>
                      <input class="btn submit-button" value="Update Information" type="submit"></br></br>
             </form>
            </div>
            {% else %}
             <h2 class="modal-title" id="myModalLabel">Welcome to Newsflash!</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
              </div>
              <div class="modal-body">
                <form action="/register" method="post">
                        <h4>Create Account</h4>
                        <input class="form-control mr-sm-2" type="text" name="email" pattern="^[^@\s]+@[^@\s]+\.[^@\s]+$" id="formstyle" placeholder="Email Address" required><br>
                        <input class="form-control mr-sm-2" type="password" name="password" id="formstyle" placeholder="Password" required><br>
                        <input class="btn submit-button" value="Sign Up" type="submit">
                </form>
              </div>
             {% endif %}
        </div>
      </div>
    </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            {% if 'user_id' in session %} 
            <h2 class="modal-title" id="myModalLabel">Come Back Soon!</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <center>
            <a href='/logout'><button type="button" class="btn submit-button">Logout</button></a><br>
          </div>
            {% else %}
             <h2 class="modal-title" id="myModalLabel">Login</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/login" method="post">
                <h4>Welcome Back!</h4>
                <input class="form-control mr-sm-2" type="text" name="email" id="formstyle" placeholder="Email Address" required><br>
                <input class="form-control mr-sm-2" type="password" name="password" id="formstyle" placeholder="Password" required><br>
                <input class="btn submit-button" value="Login" type="submit"></br></br>
                <small id="emailHelp" class="form-text text-muted"> <a href="/register">New User? Create Account</a> </br>
            </form>
          </div>
             {% endif %}
        </div>
      </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                {% for message in get_flashed_messages() %}
<!--                 <div class="alert alert-info" role="alert" duration='2'>{{ message }}</div> -->
                <br>
                <div class="alert alert-info alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
                  {{ message }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

      
    {% block content %}{% endblock %}

    </body>
</html>
